#first {
    background-color: black;
    color: white;
    font-size: 100px;
}
#span{
   color:aqua; 
}
h2{
    font-size: 70px;
    background-color: blueviolet;
    text-align: center;
    color: white;
}
.test{
    font-size: 70px;
    background-color: rgb(55, 244, 244);
    text-align: end;
    text-decoration: underline;
    color: black;

}