img {
    height: 200px;
}
.container{width: 800px;
    background-color: #ecf7ff;
}
.ligne0{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ligne1{
    margin: 20px;
    padding: 20px;
    background-color:#6ec4e6 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.ligne2{
    margin: 20px;
    padding: 20px;
    background-color:#cca4bb ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.ligne3{
    margin: 20px;
    padding: 20px;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.ligne4{
    
       display: flex;
    align-items: center;
    justify-content: center;
    
}
